* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 3, 18);
}

.main-section {
  padding: 30px;
  background-color: rgb(35, 3, 18);
  min-height: 84vh;
}

.drink-img {
  width: 100%;
  height: auto;
  border: none;
}

.card-style {
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
}

.img-container {
  position: relative;
}

.instructions {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s ease-out;

  color: white;
}

.instructions:hover {
  opacity: 1;
}

.header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-el {
  width: 60%;
}

.introduction {
  width: 60%;
  margin: auto;
}

.principal-title {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 48px;
  color: white;
  font-size: 48px;
}

.btn-style {
  background-color: hsl(359, 77%, 47%);
  color: white;
  outline: none;
}

.btn-style:hover {
  background-color: hsl(359, 77%, 40%);
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: 1px solid rgba(100, 100, 100, 0.125);
}

.card-body {
  height: 250px;
  overflow: auto;
}

.error-text {
  color: white;
}

.up-arrow-container {
  border-top: 1px solid white;
  background-color: hsl(332, 84%, 4%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
}

.footer {
  background-color: hsl(359, 77%, 25%);
  min-height: 10vh;
  margin-bottom: 6vh;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
}

.text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.margin-r {
  margin-right: 20px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .introduction,
  .search-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .principal-title {
    font-size: 36px;
  }

  .container-el {
    width: 100%;
  }

  .introduction {
    width: 100%;
  }

  .card-body {
    height: auto;
  }

  .title-container {
    padding: 0;
  }

  .img-logo {
    max-width: 100%;
  }

  .text-container {
    flex-direction: column;
  }

  .information-container {
    flex-direction: column;
  }

  .margin-r {
    margin-right: 0px;
  }
}
